.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
  border: none;
}

.app-title{
  color: #f77f00;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  gap: 10px;
}

button {
  border-radius: 4px;
  border: none;
  width: 150px;
  height: 32px;
  font-size: 18px;
}

.signup-button{
  color: antiquewhite;
  background-color: #f77f00;
}

.login-button{
  color: #f77f00;
  background-color: antiquewhite;
}

img {
  width: 256px;
  height: 256px;
}

