<div class="main-container">
  <div class="header">
    <h1 id="app-title">GymCrab</h1>
    <img id="profile-img" src="assets/placeholder.png" alt="crab logo" class="crab-logo">
  </div>

  <div class="greeting-container">
    <!--  two h2s, welcome [username] and a quirky message-->
    <h2>Welcome, [user]!</h2>
    <h2>[Insert quirky message here]</h2>
  </div>

  <div class="button-group">
    <!--  big button that is all the way at the bottom-->
    <!--  when clicked, it should open up some kind of slider to the up direction-->
  </div>
</div>


