.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.header {
  display: flex;
  padding: 10px;
}

#app-title{
  color: #f77f00;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#profile-img {
  width: 128px;
  height: 128px;
  border: 2px solid #f77f00;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.greeting-container {
  text-align: center;
  margin-top: 20px;
}

.greeting-container h2 {
  margin: 0;
  color: #f77f00;
}

.button-group {
  margin-bottom: 20px;
}

#workouts-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #f77f00;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#back-button {
  border: none;
  color: #f77f00;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 20px;
}
