.selection-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
  border: none;
}

h2, h3 {
  color: #f77f00;
}

#back-button {
  position: absolute;
  top: 10px;
  left: 10px;
}

.sex-btn {
  /*display: flex;*/
  /*overflow: hidden;*/
}

.sex, #age, #height, #weight, #desired-weight, #next {
  border: 2px solid #f77f00;
  border-radius: 4px;
  width: 200px;
  height: 32px;
  color: #f77f00;
  text-align: center;
  user-select: none;
  background-color: antiquewhite;
}

.sex {
  border-radius: 0;
  font-size: 18px;

}

.selected-sex {
  width: 200px;
  height: 32px;
  color: antiquewhite;
  border-style: solid;
  background-color: #f77f00;
}

#age::placeholder, #height::placeholder, #weight::placeholder, #desired-weight::placeholder {
  color: #f77f00;
}

#age:focus, #weight:focus, #height:focus, #desired-weight:focus {
  outline: 1px solid #f77f00;
}

#next {
  position: absolute;
  left: 50%;
  bottom: 1px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  border: none;
  color: antiquewhite;
  background-color: #f77f00;
  font-size: 18px;
}

#back-button {
  border: none;
  color: #f77f00;
  background-color: antiquewhite;
  font-weight: bold;
  font-size: 20px;
}
